/*Video*/

video {
    width: 50%; /*kan endre til 100%, men det ble litt for stort synes jeg. Dersom man gjør det vil videoen skaleres bedre.*/
    height: auto;
}


/*Animasjon*/

.UFO {
    position: relative;
    animation: UFOanimasjon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes UFOanimasjon {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    50% {
        transform: rotate(360deg);
        left: 900px;
    }
    100% {
        transform: rotate(0deg);
        left: 0px;
    }
}
